In [20]:
import pandas as pd

**Import data to csv**

In [21]:
df=pd.read_csv(r"stake.csv")

**dataframe of stakes data**

In [22]:
df

,Unnamed: 0,Game,User,Time,Bet Amount,Multiplier,Payout
0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Gates of Olympus,Hidden,2:40 PM,0.00147523,406.68×,0.59994835
2,2,Limbo,Hidden,2:40 PM,0.80780608,1.42×,1.14708463
3,3,Speed Roulette,Hidden,2:40 PM,1000.0,3.42×,3420.0
4,4,No Commission Speed Baccarat C,Hidden,2:40 PM,2796.14496,2.00×,5592.28992
...,...,...,...,...,...,...,...
9147,9147,Live - Speed Baccarat 12,Hidden,1:59 PM,2000.00000000,2.00×,4000.00000000
9148,9148,Wild West Duels,Hidden,1:59 PM,0.32105999,28.75×,9.23047484
9149,9149,Plinko,Hidden,1:59 PM,10.00000000,130.00×,1300.00000000
9150,9150,Fruit Party 2,Hidden,1:59 PM,10.69800011,1.15×,12.29735113
9151,9151,Speed Baccarat T,Hidden,1:59 PM,2000.00000000,0.00×,-2000.00000000

**drop Unnamed: 0 column**

In [23]:
df=df.drop(columns='Unnamed: 0')

**check for duplicates**

In [24]:
num_duplicates = df.duplicated().sum()

print(num_duplicates)

8041

**Making new data frame for non duplicates**

In [25]:
df_non_dup = df.drop_duplicates()

**drop nan values**

In [26]:
df_non_dup=df_non_dup.dropna()
df_non_dup = df_non_dup.reset_index(drop=True)

In [27]:
df_non_dup.columns

Index(['Game', 'User', 'Time', 'Bet Amount', 'Multiplier', 'Payout'], dtype='object')

In [28]:
df_non_dup

,Game,User,Time,Bet Amount,Multiplier,Payout
0,Gates of Olympus,Hidden,2:40 PM,0.00147523,406.68×,0.59994835
1,Limbo,Hidden,2:40 PM,0.80780608,1.42×,1.14708463
2,Speed Roulette,Hidden,2:40 PM,1000.0,3.42×,3420.0
3,No Commission Speed Baccarat C,Hidden,2:40 PM,2796.14496,2.00×,5592.28992
4,Craps,Hidden,2:40 PM,4000.0,0.00×,-4000.0
...,...,...,...,...,...,...
1105,Plinko,Hidden,1:59 PM,10.00000000,130.00×,1300.00000000
1106,Deal or No Deal,Hidden,1:59 PM,492.17684892,4.25×,2089.73549122
1107,Live - Speed Baccarat 12,Hidden,1:59 PM,2000.00000000,2.00×,4000.00000000
1108,Wild West Duels,Hidden,1:59 PM,0.32105999,28.75×,9.23047484
1109,Immersive Roulette,Hidden,1:59 PM,1085.00000000,0.00×,-1085.00000000